h5 {
    font-size: 20px;
}

/* FONTS */
.txtMuli {
    font-family: 'Mulish';
}

/* LINK */
a {
    text-decoration: none;
}

/* COLORS */
.txtWhite {
    color: var(--white)
}

.txtBlack {
    color: var(--black)
}

.txtBrown {
    color: var(--brown);
}

.txtBlue {
    color: var(--blue)
}

/* TRANSFORM */
.txtUpper {
    text-transform: uppercase;
}

.txtItalic {
    font-style: italic;
}

.txtUnderline {
    text-decoration: underline;
}

/* WEIGHT */
.txt400 {
    font-weight: 400;
}

.txt500 {
    font-weight: 500;
}

.txt600 {
    font-weight: 600;
}

.txt700 {
    font-weight: 700;
}

/* ALIGN */
.txtCenter {
    text-align: center;
}

/* TITLE */
.txtTitle {
    font-size: 35px;
    font-family: 'Mulish';
    text-transform: uppercase;
}